body, html {
    /* width: 100%;  */
    height: 100%;
    /* padding: 0; */
    /* margin: 0;  */
}

header, .title {
    margin: auto;
    width: 95%;
    /* text-align: center; */
}

.title {
    font-family: 'Abril Fatface', cursive;
    font-size: 2.5em;
    /* font-family: 'Princess Sofia', cursive; */
    padding: 1%;
    text-align: center;
    background: black;
    color: white; 
}

.funny-pic {
    height: auto;
    width: auto;
    max-height: 300px;
    border: thick double black;
}

.start, .reset {
    background: black;
    color: white;
    font-family: 'Abril Fatface', cursive;
    width: 8em;
    font-size: 20px;
    padding: .5em;
    /* padding-right: 2em; */
}

.start:hover, .reset:hover {
    background: white;
    color: black;
    border-color: black;
}

.time-instructions {
    text-align: center;
    background: linen;
    margin-bottom: 0;
}

/* timer will always be at top of screen */
.time-display {
    text-align: center;
    margin-top: 0;
    /* padding-right: 5%; */
    background: linen;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

.section {
    width: 95%;
    padding: 1%;
}

.opening-screen {
    text-align: center;
}

main {
    width: 70%;
    margin: auto;
}

.answers {
    margin-top: .25em;
}


.question-screen, .results {
    display: none;
    /* text-align: center; */
    /* width: 50%; */
    /* margin: auto; */
}

/* styling those darn numbers! */
.questions {
    margin-left: 0;
    padding-right: 0;
    list-style-type: none;
}

/* needed to ensure the correct numbers */
.questions li {
    counter-increment: step-counter;
}

/* styling the numbers */
.questions li::before {
    content: counter(step-counter);
    margin-right: 5px;
    /* font-size: 80%; */
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 3px 8px;
    border-radius: 3px;
}

.questions li::before, .question{
    display: inline;
} 

.picture {
    /* display: inline; */
    height: auto;
    width: auto;
    max-height: 250px;
    max-width: 250px;
}

.submission {
    /* text-align: center; */
}

.submit {
    margin-left: 5%;
    padding: 1em;
    background: black;
    color: white;
}

.submit:hover {
    background: white;
    color: black;
    border-color: black;
}

footer {
    display: none;
    text-align: center;
    /* padding: 1em; */
    font-size: 1.5em;
    background: black;
   
    /* color: white; */
}

a {
    color: white;
}

.correct {
    color: green;
}

.wrong {
    color: red;
}

.unanswered {
    color: blue;
}

.details {
    font-style: italic;
    font-weight: bold;
    cursor: pointer;
}

